# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Jupyter / IPython
.ipynb_checkpoints/

# Large files
*.pdf
*.csv
*.xlsx
*.tmp

# IDE / Editor
.vscode/
*.sublime-project
*.sublime-workspace

# OneDrive / OS temp files
~$*