# Ignore Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Jupyter / IPython
.ipynb_checkpoints/

# Build / dist artifacts
build/
dist/
*.pyz
*.pkg

# Large data / temp files
*.csv
*.xlsx
*.pdf
*.tmp
~$*

# IDE / editor folders
.vscode/
*.sublime-project
*.sublime-workspace