git rm -r --cached .
git add .
git commit -m "fix: remove large files"
git push

echo "env/" >> .gitignore
echo ".env" >> .gitignore

git restore Extract_resumes/extract_pdf.py
git restore assets/animation.json
git restore data/job_descriptions.json

